
* {
    font-family:Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

header{
    width: 100%;
    background-color: blue;
}

nav {
}

nav ul{
    list-style-type: none;
}

nav ul li{
    display: inline;
}
nav ul li a{
    text-decoration: none;
    color: rgb(61, 60, 60);
}

h1 {
    color: antiquewhite;
}